
<div class="row">
  {% for project in projectslist | reverse %}
    <div class="col-md-4">
      <a href="{{ project.url | url }}" class="projectlist-link">
        {% if project.data.image %}
          <img src="{{project.data.image}}" />
        {% endif %}
      </a>
      <a href="{{ project.url | url }}" class="projectlist-link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
      <div class="timeContainer">
        <time class="projectlist-date" datetime="{{ project.date | htmlDateString }}">{{ project.date | readableDate }}</time>
      </div>
      <div class="tagContainer">
        {% for tag in project.data.tags %}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="project-tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
